// _base.scss

/*--------------------------------------------------------------
# ベース
--------------------------------------------------------------*/

/*-------------------------------------------------------------
# 基本設定
-------------------------------------------------------------*/
html {
  font-size: $size-root + px; /* root */ }

body {
  overflow-y: scroll;
  color: $body-color;
  background: $body-bg; }

a {
  color: $link-color;
  text-decoration: none;
  &:focus, &:hover {
    color: darken($link-color, 15%);
    img { opacity: .8; }
  }
}

.entry-content img {
  max-width: 100%;
  height: auto;
}


/*--------------------------------------------------------------
# 全体レイアウト
--------------------------------------------------------------*/
// グリッド設定
.site-content.with-widget {
  //width: 800px;
  @include make-container();
  @include make-container-max-widths();

  .site-content-inner {
    @include make-row();
  } // .site-content-inner

  .content-area {
    @include make-col-ready();
    @include media-breakpoint-up(md) {
      @include make-col(8); }
    @include media-breakpoint-up(lg) {
      @include make-col(9); }
  } // .content-area

  .widget-area {
    @include make-col-ready();
    @include media-breakpoint-up(md) {
      @include make-col(4); }
    @include media-breakpoint-up(lg) {
      @include make-col(3); }
  } // .widget-area
} // .site-content.with-widget


// ヘッダ、フッタ、サイドバーのスタイルをリセット
.site-header, .site-footer, .widget-area {
  ul, ol {
    @extend .list-unstyled; }
}

// マージン設定
.site-header {
  margin-top: 0;
  margin-bottom: 3rem;
  @include media-breakpoint-up(lg) {
    margin-top: 0;
    margin-bottom: 4rem; }
}

.content-area  {
  margin-top: 0;
  margin-bottom: 0; }

.widget-area  {
  margin-top: 0;
  margin-bottom: 0; }

.site-footer {
  margin-top: 3rem;
  margin-bottom: 0;
  @include media-breakpoint-up(lg) {
    margin-top: 6rem;
    margin-bottom: 0; }
}


/*--------------------------------------------------------------
# 見出し
--------------------------------------------------------------*/
// 装飾
.h1, h1 {
  @include relative-size(28);
  line-height: 1.15;
  font-weight: bold;
  color: $color-main;
  background-color: transparent;
  padding: 0;
  border-width: 0;
  border-style: none;
  border-color: transparent;
  &::before { display: none; }
  &::after { display: none; }
}
.h2, h2 {}
.h3, h3 {}
.h4, h4 {}
.h5, h5 {}
.h6, h6 {}

// マージン
h1, .h1 { margin-top: 0; margin-bottom: 2rem; }
h2, .h2 { margin-top: 0; margin-bottom: 2rem; }
h3, .h3 { margin-top: 0; margin-bottom: 2rem; }
h4, .h4 { margin-top: 0; margin-bottom: 2rem; }
h5, .h5 { margin-top: 0; margin-bottom: 2rem; }
h6, .h6 { margin-top: 0; margin-bottom: 2rem; }
.section h1:not(:first-child),
.section .h1:not(:first-child), {}
.section h2:not(:first-child),
.section .h2:not(:first-child) {}
.section h3:not(:first-child),
.section .h3:not(:first-child) {}
.section h4:not(:first-child),
.section .h4:not(:first-child) {}
.section h5:not(:first-child),
.section .h5:not(:first-child) {}
.section h5:not(:first-child),
.section .h5:not(:first-child) {}

// キャッチコピー
.display-1 {
  @include relative-size(28);
  line-height: 1.15;
  font-weight: bold;
  color: $color-main;
  background-color: transparent;
  padding: 0;
  border-width: 0;
  border-style: none;
  border-color: transparent;
  &::before { display: none; }
  &::after { display: none; }
}
.display-2 {}
.display-3 {}
.display-4 {}

// リード
.lead {
  font-size: relative-size(17);
  line-height: 1.75; }

// 本文
.bodytext {
  font-size: 1rem;
  line-height: 1.75; }

// 脚注
.note {
  font-size: 0.8rem;
  line-height: 1.25; }


// タイトル
@include media-breakpoint-up(lg) {
  body.page-contact .site-header .entry-title,
  body.page-menu .site-header .entry-title,
  body.page-access .site-header .entry-title,
  body.page-topics .site-header .entry-title,
  body.blog .site-header .entry-title,
  body.single-post .site-header .entry-title { color: #FFF; }
}
body.single-post .entry-content h1 {}
.entry-title h1 {}


/*--------------------------------------------------------------
# 文字
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Webフォント
--------------------------------------------------------------*/
.font-lato { font-family: 'Lato', sans-serif !important; }
.font-roboto { font-family: 'Roboto Condensed', serif !important; }

/*--------------------------------------------------------------
# 文字サイズ
--------------------------------------------------------------*/
.text-medium { font-size: $size-medium + rem !important; }
.text-large { font-size: $size-large + rem !important; }
.text-small { font-size: $size-small + rem !important; }
.text-xlarge { font-size: $size-xlarge + rem !important; }
.text-xsmall { font-size: $size-xsmall + rem !important; }
.text-xxlarge { font-size: $size-xxlarge + rem !important; }
.text-xxsmall { font-size: $size-xxsmall + rem !important; }

/*--------------------------------------------------------------
# 文字色
--------------------------------------------------------------*/
.text-main { color: $color-main !important; }
.text-main-light { color: $color-main-light !important; }

.text-sub { color: $color-sub !important; }
.text-sub-light { color: $color-sub-light !important; }

.text-accent { color: $color-accent !important; }
.text-accent-light { color: $color-accent-light !important; }

.text-grey { color: $color-grey !important; }
.text-grey-light { color: $color-grey-light !important; }

.text-white { color: $color-white !important; }
.text-black { color: $color-black !important; }

/*--------------------------------------------------------------
# 背景色
--------------------------------------------------------------*/
.bg-main { background-color: $color-main !important; color: white; }
.bg-main-light { background-color: $color-main-light !important; }

.bg-sub { background-color: $color-sub !important; color: white; }
.bg-sub-light { background-color: $color-sub-light !important; }

.bg-accent { background-color: $color-accent !important; color: white; }
.bg-accent-light { background-color: $color-accent-light !important; }

.bg-grey { background-color: $color-grey !important; color: white; }
.bg-grey-light { background-color: $color-grey-light !important; }

.bg-white { background-color: $color-white !important; color: $body-color; }
.bg-black { background-color: $color-black !important; color: white; }


/*--------------------------------------------------------------
# 共通パーツ
--------------------------------------------------------------*/
// .posts-list
.posts-list ul {
  line-height: 1.25;
  list-style: none;
  padding-left: 0;
  margin-bottom: 3rem;
  margin-top: 3rem;
  li {
    padding-left: 1rem;
    padding-right: 1rem; }
  time, a {
    display: block; }
  @include media-breakpoint-up(sm) {
    li {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    }
    time, a {
      -webkit-flex: auto;
      flex: auto; }
    time {
      width: 12.5em; }
    a {
      width: 100%; }
  }
  // border style
  padding-top: 1rem;
  border-top: 1px solid #DEE0E8;
  li {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #DEE0E8; }
  li:last-child {
    margin-bottom: 0; }
}


/*--------------------------------------------------------------
# ページ送り
--------------------------------------------------------------*/
.pager-wrap,
.pagination-wrap {
  margin-top: 5rem;
  margin-bottom: 0;
  font-size: relative-size(14,$size-root,rem);
}
.pager {
  padding-left: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  list-style: none;
  li {
    display: inline; }
  li > a,
  li > span {
    display: inline-block;
    padding: .75rem 1rem;
    border: 1px solid $color-line;
    border-radius: .25rem; }
  .pager-prev > a,
  .pager-prev > span {
    float: left; }
  .pager-next > a,
  .pager-next > span {
    float: right; }
  li > a {
    color: $color-main;
    background-color: $color-white; }
  li > a:hover {
    color: white;
    background-color: $color-main;
    border-color: $color-line; }
  .disabled > a,
  .disabled > a:focus,
  .disabled > a:hover {
    color: $color-main;
    background-color: white; }
}
.pagination li { margin-bottom: 0; }


/*--------------------------------------------------------------
# ヘッダ
--------------------------------------------------------------*/
.site-header {}


/*--------------------------------------------------------------
# グロナビ
--------------------------------------------------------------*/
.site-navigation {}


/*--------------------------------------------------------------
# フッタ
--------------------------------------------------------------*/
.site-footer {}


/*--------------------------------------------------------------
# サイドバー
--------------------------------------------------------------*/
.widget-area {
  > .widget:not(:first-child) {
    margin-top: 2rem;
  }
}


/*--------------------------------------------------------------
# コンテンツエリア
--------------------------------------------------------------*/
.site-content {}
