// _utility.scss

/*--------------------------------------------------------------
# よく使う便利なクラスの詰め合わせ
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# 文字
--------------------------------------------------------------*/
// フォント関連
.fa_style {
  display: inline-block;
  font: normal normal normal 14px/1 "Font Awesome 5 Pro";
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
.cleartype {
  -webkit-transform-origin: 0 0;
  -webkit-transform: scale(1, 1.01);
  -moz-transform-origin: 0 0;
  -moz-transform: scale(1, 1.01);
  -ms-transform-origin: 0 0;
  -ms-transform: scale(1, 1.02); /* IE9だけ1.02 */
  -o-transform-origin: 0 0;
  -o-transform: scale(1, 1.01); }

// Webフォント


// 装飾
.text-stroke-white {
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff; }
.text-stroke-black {
  text-shadow: 0 1px 0 #000, 1px 0 0 #000, 0 -1px 0 #000, -1px 0 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }


/*--------------------------------------------------------------
# ボタン
--------------------------------------------------------------*/
.btn {}
.btn-solid {
  border-radius: 0; }
.btn-pill {
  border-radius: 50em; }
.btn-arrow {
  text-align: left;
  white-space: normal; }
.btn-arrow::after {
  float: right;
  content: "\f105";
  padding: 0 0 0 2rem;
  margin: 0;
  font-size: 1.25em;
  opacity: .9;
  @extend .fa_style; }


/*--------------------------------------------------------------
# バッジ
--------------------------------------------------------------*/
.badge-solid {
  border-radius: 0; }


/*--------------------------------------------------------------
# 画像
--------------------------------------------------------------*/
.img-full {
  width: 100%;
  height: auto;
  display: block; }
.bg-cover-center {
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat; }
.bg-cover-right {
  background-position: right center;
  background-size: cover;
  background-repeat: no-repeat; }
.bg-cover-left {
  background-position: left center;
  background-size: cover;
  background-repeat: no-repeat; }
.img-border {
  border: 4px solid #BCC0D1; }


/*--------------------------------------------------------------
# リスト
--------------------------------------------------------------*/
/* .list-bordered    ------------------------------------- */
.list-bordered {
  padding-left: 0;
  list-style-position: inside; }
.list-bordered li {
  padding-bottom: .25em;
  border-bottom: 1px solid #BCC0D1;
  padding-left: .25em;
  margin-top: .5em; }

/* .dl-bordered      ------------------------------------- */
.dl-bordered {}
.dl-bordered dt {}
.dl-bordered dd {
  border-bottom: 1px solid #BCC0D1; }

/* .dl-bordered      ------------------------------------- */
.dl-striped {}
.dl-striped dt {}
.dl-striped dd {}


/*--------------------------------------------------------------
# テーブル
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# ボーダー
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# アイコン
--------------------------------------------------------------*/
.fa-sup:before, .fa-sup:after {
  @extend .fa_style; }
.before-caret-right:before,
.before-caret-up:before,
.before-caret-down:before,
.before-angle-right:before {
  padding-right: 0.5em; }
.before-caret-right:after,
.before-caret-up:after,
.before-caret-down:after,
.before-angle-right:after {
  padding-left: 0.5em; }
.before-caret-right:before, .after-caret-right:after {
  content: "\f0da"; }
.before-caret-up:before, .after-caret-up:after {
  content: "\f0d8"; }
.before-caret-down:before, .after-caret-down:after {
  content: "\f0d7"; }
.before-angle-right:before, .after-angle-right:after {
  content: "\f105"; }


/*--------------------------------------------------------------
# 共通パーツ
--------------------------------------------------------------*/
// グリッドにボーダー
.row-bordered {
  padding-left: 15px;
  padding-right: 15px; }
.row-bordered.no-gutters {
  padding-left: 0;
  padding-right: 0; }
.row-bordered > [class*="col"] {
  border-bottom: 1px solid #e9ecef;
  padding-bottom: .8rem;
  padding-top: .4rem;
  margin-bottom: 0;
  margin-top: .4rem; }
.row-bordered dt {
  font-weight: bold; }
.row-bordered dd {
  font-weight: normal; }

// 天地中央
.vertical-center {}
.vertical-center:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  margin-right: -0.5%; }
.vertical-center-content {
  display: inline-block;
  vertical-align: middle; }

/* 画像を全画面に表示    -------------------------------------
 * 使い方の例：
<div class="cover text-center" style="background-image:url('画像');">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="display-1 text-white">SECTION TITLE</h1>
        <p class="lead text-white">LEAD TEXT</p>
        <a href="#" class="btn btn-lg btn-secondary-outline m-y-lg">Button</a>
      </div>
    </div>
  </div>
</div>
 */
body > * {
  background-size: cover;
  background-repeat: none;
  background-position: center; }
.cover .container, .cover .container-fluid {
  min-height: 100% !important;
  display: flex;
  flex-direction: column;
  justify-content: center; }

/* 画像を要素にフィット    -------------------------------------
 * 使い方の例：
<div class="section image-fill image-fill-height image-fill-opaque-dark text-center py-5">
  <div class="image-fill-background-image" style="background-image:url('https://picsum.photos/1600/900/?random');">
    <img class="img-fluid d-block d-lg-none" src="https://picsum.photos/1024/768/?random" alt="">
  </div>
  <div class="container">
    <div class="row">
      <div class="col py-5">
        <h1 class="mb-4">投稿タイトルが入ります</h1>
        <p>この文章はダミーテキストです。文字の大きさ・字間・行間などを確認するために入れています。<br class="d-none d-lg-block">この文章はダミーテキストです。文字の大きさ・字間・行間などを確認するために入れています。<br class="d-none d-lg-block">この文章はダミーテキストです。文字の大きさ・字間・行間などを確認するために入れています。</p>
        <a href="#" class="btn btn-outline-secondary mt-4">詳細を見る</a>
      </div><!-- / .col -->
    </div><!-- / .row -->
  </div><!-- / .container -->
</div><!-- / .section -->

<div class="section mt-5">
  <div class="row no-gutters">
    <div class="col-lg-6 image-fill">
      <div class="image-fill-background-image" style="background-image:url('https://picsum.photos/1600/900/?random');">
        <img class="img-fluid d-block d-lg-none" src="https://picsum.photos/1600/900/?random" alt="">
      </div>
    </div><!-- / .col -->

    <div class="col-lg-6 p-lg-5 image-fill image-fill-opaque-dark text-center">
      <div class="image-fill-background-image" style="background-image:url('https://picsum.photos/1600/900/?random');">
        <img class="img-fluid d-block d-lg-none" src="https://picsum.photos/1600/900/?random" alt="">
      </div>
      <h2 class="mb-4">投稿タイトルが入ります</h1>
      <p>この文章はダミーテキストです。文字の大きさ・字間・行間などを確認するために入れています。<br class="d-none d-lg-block">この文章はダミーテキストです。文字の大きさ・字間・行間などを確認するために入れています。<br class="d-none d-lg-block">この文章はダミーテキストです。文字の大きさ・字間・行間などを確認するために入れています。</p>
      <a href="#" class="btn btn-outline-secondary mt-4">詳細を見る</a>
    </div><!-- / .col -->
  </div><!-- / .row -->
</div><!-- / .section -->
 */
.image-fill {
  position: relative;
  display: block;
  background-color: transparent;
  a:hover { opacity: .8; } }
.image-fill-background-image {
  z-index: 1;
  position: relative;
  background-image: none; }

/* filter overlay */
.image-fill-opaque-dark {
  color: inherit; }

@media (min-width: 992px) {
.image-fill-height {
  display: flex;
  height: 100%;
  align-items: center; }

.image-fill-background-image {
  z-index: -1;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: inherit;
  background-size: cover;
  background-position: center; }
.image-fill-background-image.fixed {
  background-attachment: fixed; }

.image-fill-background-video-wrapper {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px; }
.image-fill-background-video-wrapper .video {
  width: 100%;
  height: 100%;
  object-fit: cover; }

/* filter overlay */
.image-fill-opaque-dark {
  background-color: rgba(0, 0, 0, 0.7) !important;
  color: white;
  a { color: white; } }
.image-fill-opaque-light {
  background-color: rgba(255, 255, 255, 0.7) !important; }
}


/*--------------------------------------------------------------
# PLUGIN: Contact Form 7
--------------------------------------------------------------*/
.wpcf7 {
  margin-top: 3em;
  .wpcf7-response-output:before {
    font-size: 1.25em;
    line-height: 1.25;
    @extend .fa_style; }
  .wpcf7-mail-sent-ok:before {
    content: "\f058\00a0"; }
  .wpcf7-mail-sent-ng:before {
    content: "\f057\00a0"; }
  .wpcf7-validation-errors:before {
    content: "\f071\00a0"; }
  .has-error .form-control {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075); }
  .has-error .checkbox,
  .has-error .checkbox-inline,
  .has-error .control-label,
  .has-error .form-control-feedback,
  .has-error .help-block,
  .has-error .radio,
  .has-error .radio-inline,
  .has-error.checkbox label,
  .has-error.checkbox-inline label,
  .has-error.radio label,
  .has-error.radio-inline label {
    color: #a94442; }
  .help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373; }
  .wpcf7-response-output {
    padding: 15px;
    margin-bottom: 20px;
    margin: 2em 0;
    border: 1px solid transparent;
    border-radius: 4px; }
  .wpcf7-validation-errors {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1; }
  .wpcf7-mail-sent-ok {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1; }
  .required {
    font-size: 0.85em;
    font-weight: normal; }
  label {
    font-weight: 700;
    padding: .5rem .75rem; }
  .radio label,
  .checkbox label {
    font-weight: inherit; }
  img.ajax-loader {
    display: none; }
  .wpcf7-form .form-group:last-child {
    margin-bottom: 0; }
  .wpcf7-not-valid-tip {
      color: #a94442;
      font-size: .9rem; }
  .wpcf7-list-item {
    margin-left: 0; margin-right: 0.5em; }
  .contact__form__checkbox {
    padding: 0.5rem 0.75rem; }
  .wpcf7-form-control.wpcf7-acceptance {
    margin-top: 0;
  }
}
